*{
    margin: 0px;

}

/* NAVIGATION PART */

.Uppernav{
    /* display: block; */
    /* border: 2px solid black; */
    background-color: black;
    color: white;
    font-family: cursive;
    height: 62px;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
 
.logodiv{
    /* display: inline-block; */ 
    border: 2px solid white;
    border-radius: 15px;
    height: 30px;
    width: 129px;
    overflow: hidden;
    background-size: auto;
}

.logodiv img {
    width: 105%;
    height: 34px;
}



.Uppernav h3{
    margin-left: 10px;
    display: inline-block;
    font-size: 30px;
}

.ngouser{
    position: relative;
    right: -613px;
    border: 2px solid white;
    border-radius: 10px;
    height: 24px;
    width: 70px;
    background-color: rgb(43 110 28);
    margin: 11px 10px 0px 0px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.ngouser a{
    color: chartreuse;
}

.Lowernav{
    display: flex;
    align-items: center;
    /* border: 2px solid rgb(91, 104, 223); */
    background-color:rgb(225 215 142) ;
    height: 30px;
    width: 100%;
    
}

.navmenus{
    font-family: cursive;
    position: relative;
    left: 15px;
    font-size: large;
    padding: 0px 8px 0px 8px;
}


.Lowernav a{
    text-decoration: none;
    font-size: larger;
    color: black;
}

.Lowernav a:hover {
  color: white;
}

/* BODY PART */

.MainContainer{
    /* border: 2px solid red; */
    position: relative;
    top: 13px;
    left: 21px;
    height: 562px;
    width: 97%;
    background-color: black;
}

#Media1{
    display: flex;
    /* border: 2px solid red; */
    height: 61px;
    width: 354px;
    position: relative;
    top: 80px;
    left: 97px;
}

.firstImg{
    background: url(linkedin.jpeg);
    background-size: 102%;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: inline-block;
    border: 1px solid blue;
    height: 58px;
    width: 75px;
}


#Media1 h2{
    font-family: 'Noto Serif', serif;
    display: inline-block;
    color: white;
    position: relative;
    left: 20px;
    top: 6px;
    cursor: pointer;
}


#Media2{
    display: flex;
    /* border: 2px solid greenyellow; */
    height: 61px;
    width: 354px;
    position: relative;
    top: 100px;
    left: 97px;
}

.SecondImg{
    background: url(emailImg.jpg);
    background-size: 87%;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: inline-block;
    /* border: 1px solid blue; */
    height: 58px;
    width: 75px;
}

#Media2 h2{
    font-family: 'Noto Serif', serif;
    display: inline-block;
    color: white;
    position: relative;
    left: 20px;
    top: 6px;
    cursor: pointer;
}


#Media3{
    display: flex;
    /* border: 2px solid green; */
    height: 61px;
    width: 354px;
    position: relative;
    top: 120px;
    left: 97px;
}

.ThirdImg{
    background: url(facebook.png);
    background-size: 101%;
    background-repeat: no-repeat;
    display: inline-block;
    /* border: 1px solid blue; */
    height: 58px;
    width: 62px;
    border-radius: 27px;
}

#Media3 h2{
    font-family: 'Noto Serif', serif;
    display: inline-block;
    color: white;
    position: relative;
    left: 20px;
    top: 6px;
    cursor: pointer;
}

#Media4{
    display: flex;
    /* border: 2px solid blue; */
    height: 61px;
    width: 354px;
    position: relative;
    top:140px;
    left: 97px;
}

.FourthImg{
    background: url(instagram.png);
    background-size: 101%;
    background-repeat: no-repeat;
    display: inline-block;
    /* border: 1px solid blue; */
    height: 58px;
    width: 62px;
    border-radius: 27px;
}


#Media4 h2{
    font-family: 'Noto Serif', serif;
    display: inline-block;
    color: white;
    position: relative;
    left: 20px;
    top: 6px;
    cursor: pointer;
}

#Address{
    /* border: 2px solid red; */
    height: 300px;
    width: 400px;
    position: relative;
    top: -156px;
    left: 469px;
}

.add{
    color: white;
    /* border: 2px solid blue; */
    height: 100px;
    width: 262px;
}

.para1{
    font-family: 'Noto Serif', serif;
    font-size: larger;
    color: green;
}


#Address h3{
    color: white;
    position: relative;
    top: -11px;
}